:root {
	--primary-color: #0e4bf1;
	--panel-color: #FFF;
	--text-color: #000;
	--black-light-color: #707070;
	--border-color: #E6E5E5;
	--toggle-color: #DDD;
	--caixa1-color: #E0FFFF; /*CORES NORMAIS*/
	--caixa2-color: #40E0D0;
	--caixa3-color: #87CEEB;
	--title-icon-color: #CCC;
	--trans-05: all 0.5s ease;
	--trans-03: all 0.3s ease;
	--trans-03: all 0.2s ease;
}

body {
	min-height: 100vh;
}

	body.dark {
		--primary-color: #3a3b3c;
		--panel-color: #242526;
		--text-color: #CCC;
		--black-light-color: #CCC;
		--border-color: #4D4C4C;
		--toggle-color: #FFF; /*CORES DARK MODE*/
		--caixa1-color: #3a3b3c;
		--caixa2-color: #3a3b3c;
		--caixa3-color: #3a3b3c;
		--title-icon-color: #FFF;
	}

#form-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

#item-form {
	position: fixed;
	display: none;
	flex-direction: column;
	max-width: 300px;
	padding: 20px;
	border: 1px solid #ccc;
	border-radius: 5px;
	background-color: #ffffff;
	bottom: 20px; /* Altera 'top' para 'bottom' */
	right: 20px; /* Adiciona 'right' */
}


label {
	margin-bottom: 5px;
	font-weight: bold;
}

input[type="text"],
input[type="number"] {
	padding: 10px;
	margin-bottom: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	width: 100%;
}

button[type="submit"] {
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	background-color: #007bff;
	color: #fff;
	cursor: pointer;
}

	button[type="submit"]:hover {
		background-color: #0056b3;
	}
/* Estilo para a tabela */
table {
	width: 100%;
	font-family: Arial, sans-serif;
	border-style: groove;
	border-radius: 12px;
	color: #333;
}

/* Estilo para o cabeçalho da tabela */
th {
	background-color: #f2f2f2;
	text-align: left;
	padding: 8px;
	border-radius: 12px;
}

/* Estilo para as células de dados */
td {
	padding: 8px;
	border-radius: 12px;
}

tr {
	border-style: double;
	border-radius: 12px;
}

	/* Estilo para as células de dados em linhas alternadas */
	tr:nth-child(even) {
		background-color: #f9f9f9;
	}


/* Estilo para a tabela quando o mouse está sobre ela */
table:hover {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilo para quando o mouse está sobre as células de dados */
tr:hover {
	background-color: #e6e6e6;
}

.button {
	margin-right: 6px;
	margin-left: 6px;
	display: inline-block;
	padding: 10px 20px;
	background-color: #006cc7;
	color: white;
	text-decoration: none;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

	/* Estilo para botões quando o mouse está sobre eles */
	.button:hover {
		background-color: #45a049;
	}

	/* Estilo para botões quando estão pressionados */
	.button:active {
		background-color: #3e8e41;
	}

.buttonsDiv {
	display: flex;
	justify-content: space-between;
}

	.buttonsDiv > * {
		flex: 1;
	}


form {
	margin-bottom: 10px;
}

.quantityContainer {
	display: flex;
	justify-content: space-between;
}

	.quantityContainer span {
		padding: 5% 0 5%;
	}

#box {
	position: fixed;
	width: 5%;
	height: 5%;
	bottom: 0;
	right: 0;
	overflow: hidden;
}
