body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f1f1f1;
}

form{
    width: 100%;
}

.login-container {
    background-color: #000;
    padding: 20px;
    border-radius: 5px;
    color: #fff;
}

.login-container h2 {
    text-align: center;
}

.login-container input[type="text"],
.login-container input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
}

.login-container input[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
}

.login-container input[type="submit"]:hover {
    background-color: #45a049;
}

